{% extends "base.html.twig" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('gatomlo_project_manager_admin_all_type') }}">Tous les types d'événements</a>
    </li>
    <li class="breadcrumb-item">
      Nouveau type d'événement
    </li>
  </ol>
{% endblock %}

{% block body %}
  {{ form(form) }}
{% endblock %}
