{% extends "base.html.twig" %}

{% block breadcrumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ path('gatomlo_user_admin_all_users')}}">Tous les utilisateurs</a>
    </li>
    <li class="breadcrumb-item active">{{user.username}}</li>
  </ol>
{% endblock %}

{% block body %}
  {{ form(form) }}
{% endblock %}
