{% extends "base.html.twig" %}
{% block breadcrumb %}
  <li class="breadcrumb-item active">Accueil </li>
{% endblock %}
{% block body %}

<div class="row">
  <div class="col">
    <div id='plan'></div>
  </div>
  <div class="col">
    <div id='deadline'></div>
  </div>
</div>

{% endblock %}
{% block scripts %}
  <script>
    $('#deadline').fullCalendar({
    weekends: false,
    titleFormat: '[Echéances : ]MMMM YYYY',
    eventSources: [
      {
        url: '{{ path('gatomlo_project_manager_deadline_projects_json')}}',
        type: 'Get',

        error: function() {
          alert('Il y a eu une erreur lors de la récupération des projets!');
        },
        color: '#FF870D',   // a non-ajax option
        textColor: 'black' // a non-ajax option
      },
      {
        url: '{{ path('gatomlo_project_manager_deadline_tasks_json')}}',
        type: 'Get',

        error: function() {
          alert('Il y a eu une erreur lors de la récupération des tâches!');
        },
        color: '#109DC5',   // a non-ajax option
        textColor: 'black' // a non-ajax option
      }
    ],
    eventClick: function(calEvent, jsEvent, view) {
      window.location = calEvent.url;
  },
    eventRender: function(event, element)
    {
      if(event.description){
        element.find('.fc-title').html('<s>' + event.title + '</s>' +event.description);
      }
    }
  });
  $('#plan').fullCalendar({

  defaultView: 'listDay',
  displayEventTime:false,
  views: {
  listDay: {
    type: 'list',
    duration: { days: 1 },
    buttonText: '4 day'
  }
},
  titleFormat: '[Tâches plannifiées : ]D MMMM YYYY',
  eventSources: [

    {
      url: '{{ path('gatomlo_project_manager_planned_tasks_json')}}',
      type: 'Get',

      error: function() {
        alert('Il y a eu une erreur lors de la récupération des tâches!');
      },
      color: '#109DC5',   // a non-ajax option
      textColor: 'black' // a non-ajax option
    }
  ],
  eventClick: function(calEventTwo, jsEventTwo, viewTwo) {
    window.location = calEventTwo.url;
  },
  eventRender: function(event, element){
    if(event.description){
      element.find('.fc-title').html('<s>' + event.title + '</s>' +event.description);
    }},
});
  </script>

{% endblock %}
